<script src="../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<div>
  <nav mat-tab-nav-bar>
    <span *ngFor="let application of activityService.apps.apps[activityService.activityLoaded._id]">
    <a mat-tab-link class="tab"
       *ngIf="application.status === 'loaded'"
       [routerLink]="[{ outlets: { '../apps': [application.type, application._id] } }]"
       routerLinkActive #rla="routerLinkActive"
       [active]="rla.isActive">
      {{application.name}}<mat-icon class="aligned-with-text" (click)="unloadApp(application._id)">close</mat-icon>
    </a>
    </span>
    <a mat-tab-link class="hidden-tab" (click)="loadApp()">
      <mat-icon class="aligned-with-text">add</mat-icon>
    </a>
  </nav>
</div>

<div class="appContainer" layout="row" >
    <router-outlet class="hidden-router" name="apps"></router-outlet>
</div>
