<script src="../../main.ts"></script>

<form (ngSubmit)="loadApp()">
  <h3>Applications disponibles</h3>

  <md-radio-group class="example-radio-group" [(ngModel)]="appToLoad" name="activity._id">
    <div *ngFor="let application of activityService.apps.apps[activity._id]">
    <md-radio-button class="example-radio-button" *ngIf="application.status === 'unloaded'" [value]="application._id">
      {{application.name}}
    </md-radio-button>
    </div>
  </md-radio-group>

  <div>
    <button md-button type="submit">Charger</button>
    <button md-button md-dialog-close="Close">Fermer</button>
  </div>
</form>
