
  <div fxLayout="row" fxLayout.xs="column" class="flex-main-div">
    <div *ngFor="let activity of activityService.activities_list" fxFlex="33%" class="flex-card">
      <md-card>
        <md-card-header>
          <h3 md-line>{{activity.name}}</h3>
        </md-card-header>
        <div [innerHTML]="activity.description" class="activity-description"></div>

        <md-card-actions>
          <md-icon (click)="show_activity(activity._id)">visibility</md-icon>
          <md-icon *ngIf="user.fonction === 'Enseignant'" (click)="edit_activity(activity._id)">mode_edit</md-icon>
          <md-icon *ngIf="user.fonction === 'Enseignant'" (click)="delete_activity(activity._id)">delete</md-icon>
        </md-card-actions>

      </md-card>
    </div>

    <div fxFlex="33%" class="flex-card-centered">
      <button (click)="newActivity()" *ngIf="user.fonction === 'Enseignant'" md-mini-fab color="primary"><md-icon>add</md-icon></button>
    </div>
</div>
