.flex-card {
  padding: 1%;
}

.flex-card-centered{
  margin-left: 10%;
  margin-top: 12%;
  padding: 1%;
  justify-content:center;
  align-items:center;
}

.activity-description{
  flex-wrap: wrap;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flex-main-div {
  padding: 1%;
  margin: 1%;
  flex-wrap: wrap;
}

.aligned-with-h3 {
  margin-top: 15px;
}

.icon-huge {
    font-size:45px;
    height:45px;
    width: 45px;
}

.material-icons {
  padding-left: 10%;
  cursor: pointer;
}
