<script src="../../../../main.ts"></script>

<div
  class="stepper-left"
  dragula="STEPS"
  [dragulaModel]="steps"
  (dragulaModelChange)="steps = $event"
>
  <div *ngFor="let step of steps" class="float-left">
    <button mat-button (click)="loadAnActivity(step)">
      <activity-name [activityId]="step"></activity-name>
      <activity-hide
        *ngIf="user.fonction === 'Enseignant'"
        [activityId]="step"
        (click)="switchLock($event); switchVisibility(step)"
        matTooltip="Rendre l'étape visible/invisible aux élèves"
      ></activity-hide>
    </button>
  </div>
</div>

<button *ngIf="edit" mat-button class="float-left" (click)="addStep()">
  <mat-icon>add_circle</mat-icon>
  Ajouter une étape
</button>
