<mat-list-item
  *ngIf="application?.name"
  [ngClass]="{selected : currentLoaded}"
  (click)="openApplication()"
  #item
  [ngx-scroll-to]="'#div_' + applicationId"
>

  <mat-icon mat-list-icon *ngIf="application.type == 'Chronomètre'">timer</mat-icon>
  <mat-icon mat-list-icon *ngIf="application.type == 'Formulaire'">toc</mat-icon>
  <mat-icon mat-list-icon *ngIf="application.type == 'Editeur de texte'">description</mat-icon>
  <mat-icon mat-list-icon *ngIf="application.type == 'kanban'">view_week</mat-icon>
  <p mat-line>{{ application?.name }} {{ application?.loaded }}</p>
  <button
    *ngIf="
      userService.fonction === 'Teacher' ||
      application?.creator === userService.id
    "
    mat-icon-button
    (click)="deleteApp(); $event.stopPropagation()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</mat-list-item>
