<mat-card-title>
  {{title}}
</mat-card-title>
<jqxKanban *ngIf="!checkNull(columns) && columns.length > 0 && appId"
           #myKanban
           (onItemMoved)="onItemMoved($event)"
           (onColumnAttrClicked)="myKanbanonColumnAttrClicked($event)"
           [width]="'100%'"
           [height]="400" [template]="template" [source]="dataAdapter"
           [columns]="columns" [columnRenderer]="columnRenderer"
           [resources]="resourcesAdapterFunc()" [itemRenderer]="itemRenderer">
</jqxKanban>
