.menu-right-align {
  float: right;
  margin-top: 15px;
}

.iframe_resource {
  border: none;
  resize: both;
  width: 100%;
}

.flex-card {
  margin-left: 20px;
  margin-bottom: 20px;
}

.name {
  float: left;
}

.buttons {
  float: right;
}

.float-left {
  float: left;
}

.aligned-with-text {
  margin-top: 10px;
}

img {
  max-width: 100%;
  max-height: 100%;
  height:auto;
  width:auto;
}

.cdk-overlay-pane {
  max-width: 100% !important;
}

.full-height {
  height: 100%;
}

.image{
    max-height:500px;
    max-width:500px;
    height:auto;
    width:auto;
}
