<div id="div_{{resourceId}}" class="full-height">
  <!-- <mat-card class="flex-card" *ngIf="resource?.status==='loaded'"> -->
  <div class="name">
    <h3 class="float-left">{{ resource?.name }}</h3>
    <button
      class="menu-left-align aligned-with-text"
      mat-icon-button
      (click)="reload()"
    >
      <mat-icon>autorenew</mat-icon>
    </button>
  </div>
  <!--
  <div class="buttons">
    <button class="menu-right-align" mat-icon-button (click)="fullscreen()">
      <mat-icon>fullscreen</mat-icon>
    </button>
    <button class="menu-right-align" mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  -->
  <div class="full-height" *ngIf="image.test(resource?.type)">
    <img [src]="myUrl" alt="Image" class="image">
  </div>

  <div class="full-height" *ngIf="!image.test(resource?.type)">
    <iframe
      class="iframe_resource"
      id="iframe_{{_resourceId}}"
      [src]="myUrl"
      scrolling="no"
      (load)="resizeIframe(this)"
    ></iframe>
  </div>
  <!-- </mat-card> -->
</div>
