<script src="../../main.ts"></script>

<form (ngSubmit)="changeUsers()">
  <h3 i18n="@@usersApp">Utilisateurs de l'application</h3>

  <div *ngFor="let participant of userChecked">
    <mat-slide-toggle
      class="example-margin"
      [checked]="participant.checked"
      [name]="participant.user"
      (change)="changeValue($event)"
    >
      {{ participant.user }}
    </mat-slide-toggle>
  </div>

  <div>
    <button mat-button type="submit" i18n="@@validate">Valider</button>
    <button mat-button mat-dialog-close="Close" i18n="@@cancel">Annuler</button>
  </div>
</form>
