.right {
  float: right;
}

.fill {
  height: 100%;
}

.fill-menu {
  //height: calc(100% - 64px);
}

.mat-subheader {
  padding: 0px;
  margin-left: 16px;
}

.right-padding {
  padding-right: 5%;
  margin-left: 3px;
  margin-top: 3px;
  margin-right: 3px;
}

.flex-card {
  //margin: auto;
  //padding: 1% 1% 1% 1%;
  //margin-bottom: 20px;
}

.button-left {
  float: left;
  margin-top: 22px;
}

.flex-card-centered {
  float: left;
  width: 100%;
}

.flex-card-small {
  width: 30%;
  padding: 1%;
}

.stepper-left {
  max-width: 85%;
  float: left;
}

.aligned-right {
  float: left;
}

.chip {
  cursor: pointer !important;
}

.activity-name {
  float: left;
  padding-right: 15px;
}

.mat-card {
  padding: 1%;
}

.icon-huge {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.material-icons {
  cursor: pointer;
}

.flex-main-div {
  padding: 1%;
  height: 100%;
}

.arrow {
  position: absolute;
  top: calc(50% + 40px);
  transform: rotate(180deg);
  left: calc(30vw - 40px);
}

.arrow-right {
  position: absolute;
  top: calc(50% + 40px);
  left: 0px;
  z-index: 999;
}

.arrow-height {
  height: 100px;
}

.aligned-with-h3 {
  margin-top: 15px;
}

.left-aligned {
  float: left;
  width: 100%;
}

.aligned-left {
  float: left;
}

.name {
  padding-top: 7px;
}

.menu {
  overflow: auto;
}

.content {
  overflow: auto;
}

.set-max {
  height: 100%;
}

.overflow {
  overflow: auto;
}

.max10 {
  max-height: 10%;
}

.max20 {
  max-height: 20%;
}

.max30 {
  max-height: 30%;
}

.max30 {
  max-height: 30%;
}
