<script src="../../../../main.ts"></script>
<!--
  <div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>
-->
<div fxFlex="100%" class="flex-card fill-menu" fxLayout="column" fxFill>


  <div class="left-aligned">
    <activity-stepper [edit]="editMode"></activity-stepper>
  </div>

  <div fxLayout="row" fxLayout.xs="column" class="flex-main-div">
    <div
      [fxFlex]="leftPart"
      class="menu fill"
      fxLayout="column"
      (mouseenter)="showArrow()"
      (mouseleave)="hideArrow()"
      id="divLeft"
    >
      <div
        *ngIf="activityService?.activityLoaded?.type !== 'Main' && user.fonction == 'Enseignant'"
        fxFlex="30"
        class="overflow max30"
        id="divDescriptionTeacher"
      >
        <app-activity-description-edit
          [edit]="editMode"
          [type]="'Loaded'"
        ></app-activity-description-edit>
        <!-- </mat-card> -->
      </div>

      <div
        *ngIf="activityService?.activityLoaded?.type !== 'Main' && user.fonction != 'Enseignant'"
        fxFlex="40"
        class="overflow max40"
        id="divDescriptionStudent"
      >
        <app-activity-description-edit
          [edit]="editMode"
          [type]="'Loaded'"
        ></app-activity-description-edit>
        <!-- </mat-card> -->
      </div>

      <div fxFlex="40" class="overflow max30" id="divAppsResourcesTeacher" *ngIf="user.fonction == 'Enseignant'">
        <mat-divider></mat-divider>
        <app-activity-resources-applications [edit]="editMode"></app-activity-resources-applications>
      </div>

      <div fxFlex="40" class="overflow max40" id="divAppsResourcesStudent" *ngIf="user.fonction != 'Enseignant'">
        <mat-divider></mat-divider>
        <app-activity-resources-applications [edit]="editMode"></app-activity-resources-applications>
      </div>


      <div
        *ngIf="activityService?.activityLoaded?.type !== 'Main' && user.fonction == 'Enseignant'"
        fxFlex="10"
        id="divNotes"
        class="max10"
      >
        <mat-divider></mat-divider>
        <app-notes [edit]="editMode"></app-notes>
      </div>

      <div fxFlex="20" id="divParticipants" class="max20">
        <mat-divider></mat-divider>
        <app-activity-participants-edit
          [edit]="editMode"
        ></app-activity-participants-edit>
      </div>

      <!-- </div> -->

      <div class="arrow" *ngIf="showTheArrow" id="arrow">
        <img
          class="arrow-height"
          src="../../../../assets/styles/images/white-arrow.svg"
          alt="white arrow"
          (click)="collapseLeft()"
        />
      </div>
      <div class="arrow-right" *ngIf="showArrowRight" id="arrowRight">
        <img
          class="arrow-height"
          src="../../../../assets/styles/images/white-arrow.svg"
          alt="white arrow"
          (click)="collapseRight()"
        />
      </div>
    </div>

    <div [fxFlex]="rightPart" class="content fill">
      <application-launched
        *ngIf="
          activityService?.activityLoaded?.currentElementLoaded?.type ===
          'application'
        "
        [appId]="activityService?.activityLoaded?.currentElementLoaded?.id"
      ></application-launched>
      <resource-opened
        *ngIf="
          activityService?.activityLoaded?.currentElementLoaded?.type ===
          'resource'
        "
        [resourceId]="activityService?.activityLoaded?.currentElementLoaded?.id"
      ></resource-opened>
    </div>
  </div>
</div>
