<div class="large-dialog">
<h3 mat-dialog-title>Création de ressource/application</h3>

<mat-dialog-content>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel i18n="@@elementChoice">Choix de l'élément</ng-template>
        <ng-container i18n="@@elementTypeQuestion">Quel type d'élément voulez vous ajouter : une <b>Ressource</b> (image, vidéo, lien vers un site, pdf, etc.) ou une <b>Application</b> (questionnaire, éditeur de texte, chronomètre, etc.) ?</ng-container>
        <br>

        <mat-radio-group [(ngModel)]="elementType" formControlName="elementType" required>
          <mat-radio-button (change)="print()" value="resource" i18n="@@resource">Ressource</mat-radio-button><br>
          <mat-radio-button (change)="print()" value="application" i18n="@@application">Application</mat-radio-button>
        </mat-radio-group>

        <div>
          <button mat-flat-button color="accent" matStepperNext i18n="@@next">Suivant</button>
        </div>
      </form>
    </mat-step>

    <mat-step *ngIf="firstFormGroup.get('elementType').value === 'application'" [stepControl]="applicationTypeFormGroup" required>
      <form [formGroup]="applicationTypeFormGroup">
        <ng-template matStepLabel i18n="@@applicationChoice">Choix de l'application</ng-template>
        <mat-radio-group [(ngModel)]="applicationType" formControlName="applicationType" required>
          <mat-radio-button [class.is-loading]="true" value="Chronomètre" i18n="@@chronometer">Chronomètre</mat-radio-button><br>
          <mat-radio-button [class.is-loading]="true" value="Editeur de texte" i18n="@@textEditor">Editeur de texte</mat-radio-button>
          <mat-radio-button [class.is-loading]="true" value="kanban" i18n="@@table">Tableau</mat-radio-button>
          <mat-radio-button [class.is-loading]="true" value="Formulaire" i18n="@@form">Questionnaire</mat-radio-button>
        </mat-radio-group>
        <div fxLayout="row" fxLayoutAlign="space-around center">

          <mat-card [class.selected]="applicationTypeFormGroup.get('applicationType').value === 'Chronomètre'" fxFlex="20%" (click)="choose('Chronomètre')">
            <mat-card-header>
            <h3 i18n="@@chronometer">Chronomètre</h3>
            </mat-card-header>
            <mat-card-content>
              <img class="centered-img" height="200" width="200" src="../../../../assets/images/miniatures/miniature-chronometre.png">
            </mat-card-content>
          </mat-card>

          <mat-card [class.selected]="applicationTypeFormGroup.get('applicationType').value === 'Editeur de texte'" fxFlex="20%" (click)="choose('Editeur de texte')">
            <mat-card-header>
              <h3 i18n="@@textEditor">Editeur de texte</h3>
            </mat-card-header>
            <mat-card-content>
              <img class="centered-img" height="200" width="200" src="../../../../assets/images/miniatures/miniature-editeur-texte.png">
            </mat-card-content>
          </mat-card>

          <mat-card fxFlex="20%" [class.selected]="applicationTypeFormGroup.get('applicationType').value === 'kanban'" (click)="choose('kanban')">
            <mat-card-header>
              <h3 i18n="@@table">Tableau</h3>
            </mat-card-header>
            <mat-card-content>
              <img class="centered-img" height="200" width="200" src="../../../../assets/images/miniatures/miniature-kanban.png">
            </mat-card-content>
          </mat-card>

          <mat-card fxFlex="20%" [class.selected]="applicationTypeFormGroup.get('applicationType').value === 'Formulaire'" (click)="choose('Formulaire')">
            <mat-card-header>
              <h3 i18n="@@form">Questionnaire</h3>
            </mat-card-header>
            <mat-card-content>
              <img class="centered-img" height="200" width="200" src="../../../../assets/images/miniatures/miniature-questionnaire.png">
            </mat-card-content>
          </mat-card>
        </div>
        <div>
          <button mat-stroked-button matStepperPrevious>Précédant</button>
          <button mat-flat-button color="accent" matStepperNext>Suivant</button>
        </div>
      </form>
    </mat-step>

    <mat-step *ngIf="firstFormGroup.get('elementType').value === 'application'" [stepControl]="applicationInfosFormGroup" required>
      <ng-template matStepLabel i18n="@@applicationInformations">Informations sur l'application</ng-template>
      <form [formGroup]="applicationInfosFormGroup">
        <mat-form-field>
          <input
            matInput
            placeholder="Nom de l'application"
            i18n-placeholder="@@applicationName"
            type="text"
            formControlName="appName"
          />
        </mat-form-field>

        <div [hidden]="!(applicationTypeFormGroup.get('applicationType').value === 'Chronomètre')">
          <mat-form-field>
            <input
              matInput
              placeholder="Durée du chronomètre"
              i18n-placeholder="@@chronometerDuration"
              type="time"
              formControlName="chronometreValue"
            />
          </mat-form-field>
        </div>
        <div [hidden]="!(applicationTypeFormGroup.get('applicationType').value === 'Formulaire')">
          <form-builder  [formElements]="form" (formElementsChanges)="form=$event"></form-builder>
        </div>
      </form>
      <div>
        <button mat-stroked-button matStepperPrevious i18n="@@previous">Précédant</button>
        <button mat-flat-button color="accent" matStepperNext i18n="@@next">Suivant</button>
      </div>
    </mat-step>

    <mat-step *ngIf="firstFormGroup.get('elementType').value === 'application'" [stepControl]="applicationVisibilityFormGroup" required>
      <form [formGroup]="applicationVisibilityFormGroup">
        <ng-template matStepLabel i18n="@@applicationVisibility">Visibilité de l'application</ng-template>
        <div>
          <ng-container i18n="@@visibilityQuestion">Voulez vous rendre l'application visible pour l'étape uniquement ou pour toute l'activité (et toutes les étapes de l'activité) ?</ng-container>
          <div>
            <mat-radio-group formControlName="stepOrActivity" required>
              <mat-radio-button value="step" i18n="@@visibilityStep">Etape uniquement</mat-radio-button><br>
              <mat-radio-button value="activity" i18n="@@allActivity">Toute l'activité</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div>
          <button mat-stroked-button matStepperPrevious i18n="@@previous">Précédant</button>
          <button mat-flat-button color="accent" (click)="newApp()" i18n="@@validate">Valider</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="resourceTypeFormGroup">
      <form [formGroup]="resourceTypeFormGroup">
        <ng-template matStepLabel i18n="@@resourceType">Type de ressource</ng-template>
        <ng-container i18n="@@resourceTypeQuestion">Quel type de ressource voulez vous ajouter : un <b>Document</b> (image, vidéo, pdf, etc.) ou une <b>Page web</b> ?</ng-container>
        <br>

        <mat-radio-group [(ngModel)]="resourceType" formControlName="resourceType" required>
          <mat-radio-button value="document" i18n="@@document">Document</mat-radio-button><br>
          <mat-radio-button value="webPage" i18n="@@webPage">Page web</mat-radio-button>
        </mat-radio-group>

        <div>
          <button mat-stroked-button matStepperPrevious i18n="@@previous">Précédant</button>
          <button mat-flat-button color="accent" matStepperNext i18n="@@next">Suivant</button>
        </div>
      </form>
    </mat-step>

    <mat-step *ngIf="resourceTypeFormGroup.get('resourceType').value === 'document'" [stepControl]="fileFormGroup">
      <form [formGroup]="fileFormGroup">
        <ng-template matStepLabel i18n="@@fileChoice">Choix du fichier</ng-template>
        <input type="file" (change)="onFileChange($event)" />
        <div>
          <button mat-stroked-button matStepperPrevious i18n="@@previous">Précédant</button>
          <button mat-flat-button color="accent" matStepperNext i18n="@@next">Suivant</button>
        </div>
      </form>
    </mat-step>

    <mat-step *ngIf="firstFormGroup.get('elementType').value === 'resource'" [stepControl]="resourceInfosFormGroup" required>
      <ng-template matStepLabel i18n="@@resourceInformation">Informations sur la ressource</ng-template>
      <form [formGroup]="resourceInfosFormGroup">

        <mat-form-field *ngIf="resourceTypeFormGroup.get('resourceType').value === 'webPage'" class="margin-right">
          <input
            matInput
            placeholder="Url de la ressource"
            i18n-placeholder="@@resourceUrl"
            type="text"
            formControlName="url"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            placeholder="Nom de la ressource"
            i18n-placeholder="@@resourceName"
            type="text"
            formControlName="resourceName"
          />
        </mat-form-field>

      </form>
      <div>
        <button mat-stroked-button matStepperPrevious i18n="@@previous">Précédant</button>
        <button mat-flat-button color="accent" matStepperNext i18n="@@next">Suivant</button>
      </div>
    </mat-step>

    <mat-step *ngIf="firstFormGroup.get('elementType').value === 'resource'" [stepControl]="resourceVisibilityFormGroup" required>
      <form [formGroup]="resourceVisibilityFormGroup">
        <ng-template matStepLabel i18n="@@resourceVisibility">Visibilité de la ressource</ng-template>
        <div>
          <ng-container i18n="@@resourceVisibilityQuestion">Voulez vous rendre la ressource visible pour l'étape uniquement ou pour toute l'activité (et toutes les étapes de l'activité) ?</ng-container>
          <div>
            <mat-radio-group formControlName="stepOrActivity" required>
              <mat-radio-button value="step" i18n="@@visibilityStep">Etape uniquement</mat-radio-button><br>
              <mat-radio-button value="activity" i18n="@@visibilityActivity">Toute l'activité</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <div>
          <button mat-stroked-button matStepperPrevious i18n="@@previous">Précédant</button>
          <button mat-flat-button color="accent" (click)="newResource()" i18n="@@validate">Valider</button>
        </div>
      </form>
    </mat-step>

  </mat-horizontal-stepper>
</mat-dialog-content>
