<script src="../../../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<div fxLayout="column" fxLayout.xs="column" class="flex-main-div">
  <div *ngFor="let activityId of activityService.activityLoadedChild | orderBy : ['+position']" fxFlex="98%"
       class="flex-card">
    <app-activity-sequence-infos [activityId]="activityId"></app-activity-sequence-infos>
  </div>

  <div fxFlex="98%" class="flex-card-centered">
    <mat-icon class="icon-huge" (click)="newSubactivity()"
              *ngIf="userService.fonction === 'Enseignant' && edit===true">add_circle
    </mat-icon>
  </div>

</div>
