.material-icons {
  padding-left: 10%;
  cursor: pointer;
}

.flex-card {
  padding: 1%;
}

.flex-card-centered {
  padding: 1%;
  margin: auto;
}

.flex-main-div {
  padding: 1%;
  margin: 1%;
  flex-wrap: wrap;
}

.header-card-actions {
  margin-left: auto;
  margin-right: 0px;
  margin-top: -10px;
}

.activity-description {
  flex-wrap: wrap;
  height: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.aligned-with-h3 {
  margin-top: 15px;
}

.icon-huge {
  font-size: 45px;
  height: 45px;
  width: 45px;
}

.material-icons {
  margin-left: -5px;
}

.sequence-name {
  float: left;
  padding-top: 10px;
  padding-right: 10px;
}
