<mat-card class="activity-card" (click)="show_activity(activityId)">
  <!--
    <img mat-card-image src="http://163.172.38.12:5984/activites/{{activityId}}/{{activityInfos?.image}}"
         alt="http://163.172.38.12:5984/{{activityId}}/{{activityInfos?.image}}">
  -->
  <!--
    <div class="header-card-actions"><button mat-button *ngIf="user.fonction === 'Enseignant'" (click)="delete_activity(activity._id)">x</button></div>
  -->

  <h3 mat-line class="big-text">{{ activityInfos?.nameForTeacher }}</h3>

  <div *ngIf="currentLoadedName" i18n="@@currentStep" class="big-text">
    <p class="current-state">Etape actuelle :</p> <p>{{ currentLoadedName }}</p>
  </div>

  <application-infos-teacher
    *ngFor="let app of currentLoadedInfos?.applicationList"
    [applicationId]="app"
    class="big-text"
  >
  </application-infos-teacher>
</mat-card>
