<script src="../../../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<div layout="row">
  <mat-nav-list>

    <div *ngFor="let resourceId of resourcesService?.resources">
      <app-resource-infos *ngIf="resourceId !== 'resource_'" [resourceId]="resourceId"></app-resource-infos>
    </div>

    <mat-list-item *ngIf="edit===true" (click)="newResource()">
      <mat-icon mat-list-icon>add_circle</mat-icon>
      <input type="file" id="hiddenfile" style="display:none" (change)="uploadResource()"/>
      <p mat-line>Nouvelle resource</p>
    </mat-list-item>
  </mat-nav-list>
</div>
