<script src="../../../main.ts"></script>
<div layout="row">
  <div>
    <h2 mat-dialog-title>Information</h2>
    <mat-dialog-content>{{ message }}</mat-dialog-content>
    <mat-dialog-actions>
      <button mat-flat-button color="accent" [mat-dialog-close]="true" i18n="@@yes">
        C'est compris
      </button>
    </mat-dialog-actions>
  </div>
</div>
