<div layout="row" >
  <mat-toolbar color="primary">
    <div class="mat-toolbar-tools">

    </div>

    <!--<button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      ABCDE
    </button>
    -->

    <span class="fill-remaining-space"></span>

    <button mat-button [matMenuTriggerFor]="menu" *ngIf="userService.loggedIn">Menu</button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/activities" *ngIf="userService.loggedIn">Mes activités</button>
      <button mat-menu-item (click)="logout()" routerLink="/" *ngIf="userService.loggedIn">Déconnexion</button>
    </mat-menu>

  </mat-toolbar>

  <router-outlet></router-outlet>

</div>


