button.mat-menu-item {
  width: auto;
  color: black;
}

.example-container {
  width: 100vw;
  height: 100vh;
}

mat-sidenav-content {
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.mat-chip-list-wrapper {
  display: block;
}

.aligned-left {
  float: left;
}

.sidenav-content {
  display: flex;
  height: 100%;
  width: 20%;
}

.chip {
  cursor: pointer !important;
}

.fullDiv {
  width: 100%;
}

.userInfos {
  padding-top: 20px;
  padding-left: 20px;
  width: 100%;
}

.userAvatar {
  float: left;
  padding-right: 10px;
}
.aligned-right-padding-right {
  float: right;
  padding-right: 30px;
}

.flex-auto {
  flex: auto;
}

.spacer {
  flex: 1 1 auto;
}

.name-edition {
  margin-top: 0px !important;
}

.activity-name {
  margin-top: 0px;
  height: 100%;
  vertical-align: middle;
}

.mat-chip {
  overflow: inherit;
}
