<div layout="row" >
  <mat-toolbar color="primary">
    <div class="mat-toolbar-tools">

    </div>

    <!--<button mat-button routerLink="/">
      <mat-icon>home</mat-icon>
      ABCDE
    </button>
    -->

    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-xs>
      <button mat-menu-item routerLink="/activities" *ngIf="userService.loggedIn">Mes activités</button>
      <button mat-menu-item [routerLink]="['/activity_apps', activityService.activity_loaded._id]"
              *ngIf="userService.loggedIn && activityService.activity_loaded !== null">Activité en cours
      </button>
      <button mat-menu-item (click)="logout()" routerLink="/" *ngIf="userService.loggedIn">Déconnexion</button>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-xs *ngIf="userService.loggedIn">
      <mat-icon>menu</mat-icon>
    </button>


  </mat-toolbar>

  <mat-menu x-position="before" #menu="mdMenu">
    <button mat-menu-item routerLink="/activities" [mdMenuTriggerFor]="menu" *ngIf="userService.loggedIn">Mes
      activités
    </button>
    <button mat-menu-item routerLink="/" [mdMenuTriggerFor]="menu" *ngIf="userService.loggedIn">Déconnexion</button>
  </mat-menu>

  <router-outlet></router-outlet>

</div>


