<script src="../../main.ts"></script>

<form [formGroup]="formNewUrl" (ngSubmit)="newUrl()">
  <h3>Nouveau lien</h3>

  <div>
    <mat-form-field>
      <input matInput placeholder="Nom de la ressource" type="text" formControlName="name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Lien de la ressource" type="url" formControlName="url">
    </mat-form-field>
  </div>

  <div>
    <button mat-button type="submit" i18n="@@add">Ajouter</button>
    <button mat-button (click)="close()" i18n="@@back">Retour</button>
  </div>
</form>
