@import '../../../../../../../../assets/styles/earth-app-theme';

.rounded{
  border-radius: 5px;
  border: 2px solid gray;
  margin: 1em 0;
  padding: 1em 1em 1em 1em;
  max-width: 50%;
}

.verticalLine{
  border-left: 1px solid gray;
}

.preview{
  margin-left: 1em;
}

.edition {
  float: left;
  margin-right: 1em;
}

mat-icon {
  cursor: pointer;
}
