<div fxLayout="row">
  <div fxFlex="50" id="form-builder-component" dragula="COPYABLE">
    <h3 i18n="@@availableComponents">Composants disponnibles</h3>
    <ng-container i18n="@@formInstructions">Vous pouvez simplement glisser/déposer des éléments vers la prévisualisation de droite</ng-container>
    <div id="checkbox" class="rounded">
      <strong><ng-container i18n="@@qcm">Question à choix multiples</ng-container></strong><br/>
      <mat-checkbox [disabled]="true" i18n="@@choice1">Choix 1</mat-checkbox><mat-checkbox [disabled]="true" i18n="@@choice2">Choix 2</mat-checkbox>
    </div>
    <!--
    <div id="input" class="rounded">
      <strong>Réponse courte</strong><br/>
      <input matInput placeholder="Texte court" value="" [disabled]="true">
    </div>
    -->
    <div id="textarea" class="rounded">
      <strong><ng-container i18n="@@longAnswer">Réponse longue</ng-container></strong><br/>
      <textarea matInput placeholder="Champ texte" i18n-placeholder="@@textArea" [disabled]="true"></textarea>
    </div>
    <!--
    <div id="radio" class="rounded">
      <strong>Question à une réponse</strong><br/>
      <mat-radio-group>
        <mat-radio-button [disabled]="true">Option 1</mat-radio-button>
        <mat-radio-button [disabled]="true">Option 2</mat-radio-button>
      </mat-radio-group>
    </div>
    -->
  </div>
  <div class="verticalLine"></div>
  <div fxFlex="50" id="form-builder-preview" class="preview" dragula="COPYABLE">
    <h3 i18n="@@formPreview">Prévisualisation de votre questionnaire</h3>
    <div *ngFor="let elmt of formElements">
      <div class="edition">
        <mat-icon (click)="editElmt(elmt)">edit</mat-icon>
        <mat-icon (click)="deleteElmt(elmt)">delete</mat-icon>
      </div>
      <div *ngIf="elmt.type === enum.Checkbox">
        <strong>{{elmt.name}}</strong><br/>
        <mat-checkbox [disabled]="true" *ngFor="let option of elmt.options">{{option.name}}</mat-checkbox>
      </div>
      <div *ngIf="elmt.type === enum.Textarea">
        <strong>{{elmt.name}}</strong><br/>
        <textarea matInput [placeholder]="elmt.text" [disabled]="true"></textarea>
      </div>
    </div>
  </div>
</div>
