<mat-list-item (click)="openRessource()">
  <mat-icon mat-list-icon *ngIf="image.test(resource?.type)">image</mat-icon>
  <mat-icon mat-list-icon *ngIf="text.test(resource?.type)">description</mat-icon>
  <mat-icon mat-list-icon *ngIf="video.test(resource?.type)">videocam</mat-icon>
  <mat-icon mat-list-icon *ngIf="audio.test(resource?.type)">audiotrack</mat-icon>
  <p mat-line> {{resource?.name}} </p>
  <button mat-icon-button (click)="deleteResource();$event.stopPropagation()"><mat-icon>delete</mat-icon></button>
</mat-list-item>
