.blink {
  color: red;
  -webkit-animation: blink 1s steps(5, start) infinite;
  -moz-animation: blink 1s steps(5, start) infinite;
  -o-animation: blink 1s steps(5, start) infinite;
  animation: blink 1s steps(5, start) infinite;
}

.blink-fast {
  color: red;
  //-webkit-animation: blink 0.5s steps(5, start) infinite;
  //-moz-animation: blink 0.5s steps(5, start) infinite;
  //-o-animation: blink 0.5s steps(5, start) infinite;
  //animation: blink 0.5s steps(5, start) infinite;
}

.flex-card {
  margin: 1.5%;
}

@-webkit-keyframes blink {
  to {
    visibility: hidden;
  }
}

@-moz-keyframes blink {
  to {
    visibility: hidden;
  }
}

@-o-keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes blink {
  to {
    visibility: hidden;
  }
}
