.name-edition {
  padding: 10px;
}

.material-icons {
  cursor: pointer;
}

.aligned-with-text {
}

textarea {
  max-width: 90%;
}

.margin-left {
  margin-left: 10px;
}

.mat-subheader {
  padding: 0px;
  margin-left: 16px;
}
