<script src="../../../main.ts"></script>

  <form>

    <md-card-header>
      <h3 md-line>Participants</h3>
    </md-card-header>

    <div fxLayout="row">
    <div fxFlex="33%" *ngFor="let participant of activityService.user.participants">
      <img src="{{participant.avatar}}" class="avatar-circle">
    </div>

    <div fxFlex="33%">
      <md-icon class="icon-huge" (click)="changeParticipants()" *ngIf="userService.fonction === 'Enseignant' && edit===true">add_circle</md-icon>
    </div>
    </div>
  </form>
