<script src="../../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<div *ngIf="!descriptionEdition" class="name-edition">
  {{activityService.activity_loaded.description}} <md-icon class="aligned-with-text" (click)="switch()">mode_edit</md-icon>
</div>

<div *ngIf="descriptionEdition" class="name-edition">
  <textarea mdTextareaAutosize placeholder="Description de l'activité" type="text" name="description" [(ngModel)]="description" rows="10" cols="100"></textarea>
  <md-icon class="aligned-with-text" (click)="changeTheDescription()">done</md-icon>
  <md-icon class="aligned-with-text" (click)="switch()">close</md-icon>
</div>
