<script src="../../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<div fxFlex="100%" class="flex-card">
  <mat-card>
    <app-activity-name-edit [edit]="true"></app-activity-name-edit>

    <div fxLayout="row" fxLayout.xs="column" class="flex-main-div">

      <div fxFlex="33%">

        <div>
          <mat-card class="flex-card">
            <app-activity-description-edit [edit]="true"></app-activity-description-edit>
          </mat-card>
        </div>

        <div>
          <mat-card class="flex-card">
            <mat-card-header>
              <h3 mat-line>Ressources</h3>
            </mat-card-header>
            <app-activity-ressources [edit]="true"></app-activity-ressources>
          </mat-card>
        </div>

        <div>
          <mat-card class="flex-card">
            <mat-card-header>
              <h3 mat-line>Applications</h3>
            </mat-card-header>
            <app-activity-apps-edit [edit]="true"></app-activity-apps-edit>
          </mat-card>
        </div>

        <div *ngIf="activityService.activity_loaded.type ==='Main'">
          <mat-card class="flex-card">
            <app-activity-participants-edit [edit]="true"></app-activity-participants-edit>
          </mat-card>
        </div>

      </div>

      <div fxFlex="63%">

        <div>
          <mat-card class="flex-card">
            <mat-card-header>
              <h3 mat-line>Etapes</h3>
            </mat-card-header>
            <app-activity-sequence-edit [edit]="true"></app-activity-sequence-edit>
          </mat-card>
        </div>

      </div>

    </div>
  </mat-card>
</div>
