<script src="../../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<app-activity-name-edit [edit]="false"></app-activity-name-edit>

<div fxLayout="column" fxLayout.xs="column" class="flex-main-div">

  <div fxFlex="90%" class="flex-card">
    <md-card>
      <md-card-header>
        <h3 md-line>Description</h3>
      </md-card-header>
      <div [innerHTML]="activityService.activity_loaded.description"></div>
    </md-card>
  </div>

  <div fxFlex="90%" class="flex-card">
    <md-card>
      <md-card-header>
        <h3 md-line>Séquence d'activités</h3>
      </md-card-header>
      <app-activity-sequence-edit [edit]="false"></app-activity-sequence-edit>
    </md-card>
  </div>

  <div fxFlex="90%" class="flex-card">
    <md-card>
        <md-card-header>
          <h3 md-line>Applications</h3>
        </md-card-header>
      <app-activity-apps-edit [edit]="false"></app-activity-apps-edit>
    </md-card>
  </div>

  <div fxFlex="90%" class="flex-card" *ngIf="activityService.activity_loaded.type ==='Main'">
    <md-card>
      <app-activity-participants-edit [edit]="false"></app-activity-participants-edit>
    </md-card>
  </div>

</div>
