<script src="../../../main.ts"></script>

<md-card-header>
  <h3 md-line>Description <md-icon class="aligned-with-text" (click)="switch()">mode_edit</md-icon></h3>
</md-card-header>

<div *ngIf="!descriptionEdition" class="name-edition">
  <div [innerHTML]="activityService.activity_loaded.description"></div>
</div>

<div *ngIf="descriptionEdition" class="name-edition">
  <!--<textarea mdTextareaAutosize placeholder="Description de l'activité" type="text" name="description" id="description" [(ngModel)]="description" rows="10" cols="100"></textarea>
  --><ckeditor [config]="editorOptions" [(ngModel)]="description"></ckeditor>
  <md-icon class="aligned-with-text" (click)="changeTheDescription()">done</md-icon>
  <md-icon class="aligned-with-text" (click)="switch()">close</md-icon>
</div>
