<script src="../../../main.ts"></script>

<mat-card-header>
  <h3 (dblclick)="switch()" mat-line>Consignes</h3>
</mat-card-header>

<div *ngIf="!descriptionEdition" class="name-edition">
  <div (dblclick)="switch()" [innerHTML]="activityService.activity_loaded.description"></div>
</div>

<div *ngIf="descriptionEdition" class="name-edition">
  <!--<textarea mdTextareaAutosize placeholder="Description de l'activité" type="text" name="description" id="description" [(ngModel)]="description" rows="10" cols="100"></textarea>
  --><ckeditor [config]="editorOptions" [(ngModel)]="description"></ckeditor>
  <mat-icon class="aligned-with-text" (click)="changeTheDescription()">done</mat-icon>
  <mat-icon class="aligned-with-text" (click)="switch()">close</mat-icon>
</div>
