<script src="../../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<div fxLayout="column" fxLayout.xs="column" class="flex-main-div">
  <div *ngFor="let activity of activityService.activityLoadedChild | orderBy : ['+position']" fxFlex="98%"
       class="flex-card">
    <mat-card class="activity-card" (click)="view_or_edit(activity._id)">
      <mat-card-header>
        <div class="header-card-actions">
          <mat-icon *ngIf="userService.fonction === 'Enseignant'" (click)="delete_activity(activity._id, $event)">
            close
          </mat-icon>
        </div>
      </mat-card-header>
      <h3 mat-line>{{activity.name}}</h3>
      <div [innerHTML]="activity.description" class="activity-description"></div>
    </mat-card>
  </div>

  <div fxFlex="98%" class="flex-card-centered">
    <mat-icon class="icon-huge" (click)="new_subactivity()"
              *ngIf="userService.fonction === 'Enseignant' && edit===true">add_circle
    </mat-icon>
  </div>

</div>
