<script src="../../../main.ts"></script>

  <form>

    <mat-card-header>
      <h3 mat-line>Participants</h3>
    </mat-card-header>

    <div fxLayout="row">
    <div fxFlex="33%" *ngFor="let participant of activityService.user.participants">
      <img src="{{participant.avatar}}" class="avatar-circle">
    </div>

    <div fxFlex="33%">
      <mat-icon class="icon-huge" (click)="changeParticipants()"
                *ngIf="userService.fonction === 'Enseignant' && edit===true">add_circle
      </mat-icon>
    </div>
    </div>
  </form>
