<script src="../../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<div *ngIf="!nameEdition" class="name-edition">
  <h3 (dblclick)="switch()">{{activityService.activity_loaded.name}}</h3>
</div>

<div *ngIf="nameEdition" class="name-edition">
  <mat-input-container>
    <input mdInput placeholder="Nom de l'application" type="text" name="appName" [(ngModel)]="appName">
  </mat-input-container>
  <mat-icon class="aligned-with-text" (click)="changeTheName()">done</mat-icon>
  <mat-icon class="aligned-with-text" (click)="switch()">close</mat-icon>
</div>
