.flex-card {
  //margin: auto;
  padding: 1%;
}

.flex-card-small {
  width: 30%;
  padding: 1%;
}

.icon-huge {
  font-size:50px;
  height:50px;
  width: 50px;
}

.material-icons{
  cursor: pointer;
}

.flex-main-div {
  padding: 1%;
}

.flex-card {
  margin: 2%;
}

.aligned-with-h3 {
  margin-top: 15px;
}
