<mat-card class="activity-card" > <!--(click)="show_activity(activityId)">-->
  <div
    *ngIf="
      isNull(activityInfos) ||
      activityInfos?.currentLoaded === activityInfos?.id
    "
    class="div-centered activity-card"
  >
    <mat-spinner></mat-spinner>
    <p i18n="@@activityLoading">Chargement de l'activité</p>
  </div>

  <div
    *ngIf="
      !isNull(activityInfos) &&
      activityInfos?.currentLoaded !== activityInfos?.id
    "
  >
    <h3 mat-line>
      {{ activityInfos?.name }}
      <button
        class="menu-right-align"
        mat-icon-button
        (click)="deleteActivity(activityInfos?.id); $event.stopPropagation()"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </h3>
    <!--
    <button
      mat-icon-button
      (click)="show_group(activityInfos?.id); $event.stopPropagation()"
    >
      <mat-icon>supervisor_account</mat-icon>
      Voir les groupes
    </button>
    <div>Cliquez pour ouvrir l'activité</div>
    -->
<!--
    <div
      *ngIf="activityInfos?.currentLoaded !== activityInfos?.id"
      [innerHTML]="activityInfos?.description"
      class="activity-description"
    ></div>
    -->

    <mat-progress-bar
      class="example-margin"
      [value]="
        (activityInfos?.subactivityList.indexOf(activityInfos?.currentLoaded) /
          activityInfos?.subactivityList.length) *
        100
      "
    >
    </mat-progress-bar>

    <mat-card-actions>
      <button mat-stroked-button class="margin-10" (click)="show_activity(activityId)">Ouvrir</button>
      <button mat-stroked-button class="margin-10" *ngIf="user.fonction == 'Enseignant'" (click)="show_group(activityInfos?.id)"><mat-icon class="icon-zero">supervisor_account</mat-icon>Voir les groupes</button>
    </mat-card-actions>
  </div>
</mat-card>
