<div class="container body-container" layout="column" flex id="Toccata">
  <mat-sidenav-container class="container" id="container">
    <mat-sidenav-content id="content">
      <app-menu></app-menu>

      <router-outlet id="outlet"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
