html,
body {
  height: 100vh;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
}

.mat-drawer-container {
  display: contents;
}

.mat-icon{
  cursor: pointer;
}

.false-link{
  cursor: pointer;
}

mat-sidenav-content {
}
