<h3 class="main-title">
  <div>
    <div class="title">
  <button mat-button (click)="backClicked();">
    <mat-icon>arrow_back</mat-icon>
  </button>
      <p class="aligned-with-text" i18n="@@activityGroups">Groupes : {{activityInfo?.name}}</p>
    </div>
    <div>
  <mat-chip-list class="chip-list">
    <mat-chip *ngIf="user.fonction === 'Enseignant'" class="chip" #chip (mouseenter)="onHovering($event);" (mouseleave)="onUnovering($event)" (click)="activityEdit()">
      <mat-icon>edit</mat-icon>
      {{editActivity}}
    </mat-chip>
    <mat-chip *ngIf="user.fonction === 'Enseignant'" class="chip" #chip (mouseenter)="onHoveringView($event);" (mouseleave)="onUnoveringView($event)" (click)="activityView()">
      <mat-icon>visibility</mat-icon>
      {{viewActivity}}
    </mat-chip>
  </mat-chip-list>
    </div>
  </div>
</h3>
<div fxLayout="row" fxLayout.xs="column" class="flex-main-div">
  <br>
  <div *ngFor="let activity of duplicateList" fxFlex="30%" flex-gt-sm="30" flex-sm="100"
       class="flex-card">
    <app-activity-infos-teacher class="activity-card" [activityId]="activity"></app-activity-infos-teacher>
  </div>

  <div front fxFlex="30%" class="flex-card" *ngIf="user.fonction === 'Enseignant' && creation === true">
    <mat-card class="activity-card">
      <div class="div-centered">
        <mat-spinner style="margin:0 auto;"></mat-spinner>
        <p>Création du groupe ...</p>
      </div>
    </mat-card>
  </div>

  <div front fxFlex="30%" class="flex-card" *ngIf="user.fonction === 'Enseignant'">
    <mat-card class="activity-card" (click)="duplicateActivity()">
      <div class="div-centered">
        <mat-icon class="icon-huge" (click)="duplicateActivity()">add_circle</mat-icon>
        <p i18n="@@newGroup">Ajouter un groupe</p>
      </div>
    </mat-card>
  </div>
</div>
