<mat-card-title
  ><span
> <ng-container i18n="@@timeLeft"> Temps restant :</ng-container> <span id="title">{{ title }}</span></span
  ><span>
    <mat-icon
      class="icon-down"
      style="font-size:50px"
      *ngIf="title !== '00:00'"
      (click)="timerStart()"
      >play_arrow</mat-icon
    >
    <mat-icon
      class="icon-down"
      style="font-size:50px"
      *ngIf="userService.fonction === 'Enseignant'"
      (click)="timerPause()"
      >pause</mat-icon
    >
    <mat-icon
      class="icon-down"
      style="font-size:50px"
      *ngIf="userService.fonction === 'Enseignant'"
      (click)="timerReload()"
      >replay</mat-icon
    >
  </span>
</mat-card-title>
