.jqx-kanban-item-color-status {
  width: 100%;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  position: relative;
  margin-top: 0px;
  top: 0px;
}

.column {
  float:left;
  width: 20%;
}

.postit {
  width: 80%;
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

.divider {
  float: left;
  height: 100%;
}

.jqx-kanban-item {
  padding-top: 0px;
}

.jqx-kanban-item-text {
  padding-top: 6px;
}

.jqx-kanban-item-avatar {
  top: 9px;
}

.jqx-kanban-template-icon {
  position: absolute;
  right: 3px;
  top: 12px;
}

.aligned-with-icon {
  position: absolute;
  margin-top: 10px;
}

.flex-card {
  margin: 1.5%;
}
