<mat-card-title> {{ title }} </mat-card-title>
<div>
  <div *ngFor="let column of columns; let i = index" fxFlex="20%" class="column" [id]="column['name']"  dragula="POSTITS"><div class="undraggable"><b>{{column['name']}}</b></div>
    <mat-divider [vertical]="true" class="divider"></mat-divider>
    <div *ngFor="let postIt of column['postits']">
    <mat-card class="postit">
      <h4>{{postIt['name']}}</h4>
      {{postIt['estimation']}}
    </mat-card>
    </div>
    <mat-card (click)="createPostIt(column['name'])" class="undraggable postit">
      <mat-icon>add</mat-icon> New postit
    </mat-card>
  </div>
  <mat-divider [vertical]="true" class="divider"></mat-divider>
  <div fxFlex="20%" class="column"><button mat-button (click)="addColumn()"><mat-icon>add</mat-icon><b>Add a column</b></button></div>
  <mat-divider [vertical]="true"class="divider"></mat-divider>

</div>
<!--
<jqxKanban
  (onItemMoved)="itemMoved($event)"
  *ngIf="!checkNull(columns) && columns.length > 0 && appId"
  #myKanban
  (onColumnAttrClicked)="myKanbanonColumnAttrClicked($event)"
  [width]="'100%'"
  [height]="850"
  [template]="template"
  [source]="dataAdapter"
  [columns]="columns"
  [columnRenderer]="columnRenderer"
  [resources]="resourcesAdapterFunc()"
  [itemRenderer]="itemRenderer"
>
</jqxKanban>
-->
