<script src="../../../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<div layout="row" >
  <form (ngSubmit)="newApp()">
    <mat-nav-list>
      <mat-list-item *ngFor="let app of activityService?.apps?.apps[activityService?.activityLoaded?._id]">
        <mat-icon mat-list-icon>folder</mat-icon>
        <p mat-line> {{app?.name}} </p>
      <div>
        <mat-icon *ngIf="user?.fonction === 'Enseignant' && edit == true" (click)="delete_app(app?._id)">delete
        </mat-icon>
      </div>
      </mat-list-item>

      <mat-list-item *ngIf="user?.fonction === 'Enseignant' && edit===true" (click)="newApp()">
        <mat-icon mat-list-icon>add_circle</mat-icon>
        <p mat-line>Nouvelle application</p>
      </mat-list-item>

    </mat-nav-list>
  </form>
</div>
