<script src="../../../../main.ts"></script>
<!--
  <div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>
-->
<div layout="row">
  <mat-nav-list>
    <div *ngFor="let applicationId of appsService?.applications">
      <app-application-infos
        [applicationId]="applicationId"
      ></app-application-infos>
    </div>

    <!--<mat-list-item
      *ngIf="user?.fonction === 'Enseignant' && edit === true"
      (click)="newApplication()"
    >
      <mat-icon mat-list-icon>add_circle</mat-icon>
      <p mat-line i18n="@@newApp">Nouvelle application</p>
    </mat-list-item>
    -->
  </mat-nav-list>
</div>
