<script src="../../../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<app-activity-name-edit [edit]="false"></app-activity-name-edit>

<div fxLayout="column" fxLayout.xs="column" class="flex-main-div">

  <div fxFlex="90%" class="flex-card">
    <mat-card>
      <app-activity-description-edit [edit]="false"></app-activity-description-edit>
    </mat-card>
  </div>

  <!--
  <div fxFlex="90%" class="flex-card">
    <mat-card>
      <mat-card-header>
        <h3 mat-line>Séquence d'activités</h3>
      </mat-card-header>
      <app-activity-sequence-edit [edit]="false"></app-activity-sequence-edit>
    </mat-card>
  </div>

  <div fxFlex="90%" class="flex-card">
    <mat-card>
      <mat-card-header>
        <h3 mat-line>Applications</h3>
      </mat-card-header>
      <app-activity-apps-edit [edit]="false"></app-activity-apps-edit>
    </mat-card>
  </div>

  <div fxFlex="90%" class="flex-card" *ngIf="activityService.activityLoaded.type ==='Main'">
    <mat-card>
      <app-activity-participants-edit [edit]="false"></app-activity-participants-edit>
    </mat-card>
  </div>
  -->

</div>
