.right {
  float:right;
}

.flex-card {
  //margin: auto;
  padding: 2% 0% 0%;
  margin-bottom: 20px;
}

.flex-card-small {
  width: 30%;
  padding: 1%;
}

.chip {
  cursor: pointer !important;
}

.activity-name {
  float: left;
  padding-right: 15px;
}

.mat-card {
  padding: 1%;
}

.icon-huge {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.material-icons {
  cursor: pointer;
}

.flex-main-div {
  padding: 1%;
}

.aligned-with-h3 {
  margin-top: 15px;
}

.left-aligned {
  float:left;
  width:100%;
}

