<script src="../../../../main.ts"></script>
<!--<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>-->
<div fxFlex="100%" class="flex-card fill-menu" fxLayout="column" fxFill>
  <!--<mat-card class="mat-card">-->

    <!--
    <h3>
      <div *ngIf="activityService?.activityLoaded?.type === 'Main'">
        <div class="activity-name">
        -->
          <!--<button mat-button (click)="backClicked();"><mat-icon>arrow_back</mat-icon></button>-->
    <!--
          <div class="right name">
            <activity-name-edit [activityId]="activityService?.activityLoaded?._id" [type]="'Loaded'" [edit]="editMode"></activity-name-edit>
          </div>
        </div>
        <div>
          <mat-chip-list class="chip-list">
            <mat-chip *ngIf="editMode" class="chip" #chip (mouseenter)="onHoveringGroupView($event);" (mouseleave)="onUnoveringGroupView($event)" (click)="activityGroupView()">
              <mat-icon>group</mat-icon>
              {{viewGroup}}
            </mat-chip>
          </mat-chip-list>
        </div>
      </div>

      <div *ngIf="activityService?.activityLoaded?.type === 'Sequence'">
        <div class="activity-name">
        -->
        <!--<button mat-button (click)="backClicked();"><mat-icon>arrow_back</mat-icon></button>-->
    <!--
          <div class="right name">
        <activity-name-edit class="aligned-right" [type]="'Parent'" [edit]="editMode" [activityId]="activityService?.activityLoaded?.parent"
        ></activity-name-edit> <div class="aligned-right">&nbsp; : 	&nbsp;</div>
        <activity-name-edit class="aligned-right" [type]="'Loaded'" [edit]="editMode" [activityId]="activityService?.activityLoaded?._id"
        ></activity-name-edit>
            <div *ngIf="!activityService?.activityLoaded?.master" class="aligned-right">({{activityService?.activityLoaded?.nameForTeacher}})</div>
          </div>
        </div>
        <mat-chip-list class="chip-list">
          <mat-chip *ngIf="user.fonction === 'Enseignant'" class="chip" #chip (mouseenter)="onHoveringGroupView($event);" (mouseleave)="onUnoveringGroupView($event)" (click)="activityGroupView()">
            <mat-icon>group</mat-icon>
            {{viewGroup}}
          </mat-chip>

        </mat-chip-list>
        </div>
    </h3>
    -->


    <!--
    <div>
      <mat-card class="flex-card-centered">
        <app-activity-description-edit [edit]="editMode" [type]="'Parent'"></app-activity-description-edit>
      </mat-card>
    </div>
    -->

    <div class="left-aligned">
      <activity-stepper [edit]="editMode"></activity-stepper>
    </div>

    <div fxLayout="row" fxLayout.xs="column" class="flex-main-div">

      <div [fxFlex]="leftPart" class="menu fill" fxLayout="column" (mouseenter)="showArrow();" (mouseleave)="hideArrow();" id="divLeft">

        <!--<div>-->

        <div *ngIf="activityService?.activityLoaded?.type !== 'Main'" fxFlex="25" class="overflow" id="divDescription">
          <!--<mat-card class="flex-card right-padding set-max">-->
            <app-activity-description-edit [edit]="editMode" [type]="'Loaded'"></app-activity-description-edit>
          <!--</mat-card>-->
        </div>

        <div fxFlex="25" class="overflow" id="divAppsResources">
          <!--<mat-card class="flex-card right-padding  set-max overflow">-->
          <!--<mat-card-header>-->
          <mat-divider></mat-divider>
            <h3 mat-line i18n="@@resources">Ressources</h3>
          <!--</mat-card-header>-->
          <app-activity-resources [edit]="true"></app-activity-resources>
          <!--<mat-card-header>-->
            <h3 mat-line i18n="@@applications">Applications</h3>
          <!--</mat-card-header>-->
          <app-activity-apps-edit [edit]="editMode"></app-activity-apps-edit>
          
        <!--</mat-card>-->
        </div>

        <!--
        <div>
          <mat-card class="flex-card right-padding set-max">
            <mat-card-header>
              <h3 mat-line i18n="@@applications">Applications</h3>
            </mat-card-header>
            <app-activity-apps-edit [edit]="editMode"></app-activity-apps-edit>
          </mat-card>
        </div>
        -->

        <div *ngIf="activityService?.activityLoaded?.type !== 'Main' && user.fonction === 'Enseignant'" fxFlex="25" id="divNotes">
          <mat-divider></mat-divider>
          <!--<mat-card class="flex-card right-padding  set-max">-->
            <app-notes [edit]="editMode"></app-notes>
          <!--</mat-card>-->
        </div>

        <div fxFlex="25" id="divParticipants">
          <mat-divider></mat-divider>
          <!--<mat-card class="flex-card right-padding set-max">-->
            <app-activity-participants-edit [edit]="editMode"></app-activity-participants-edit>
          <!--</mat-card>-->
        </div>

      <!--</div>-->

        <div class="arrow" *ngIf="showTheArrow" id="arrow">
          <img class="arrow-height" src="../../../../assets/images/fleche-white.svg" alt="white arrow" (click)="collapseLeft()">
        </div>
        <div class="arrow-right" *ngIf="showArrowRight" id="arrowRight">
          <img class="arrow-height" src="../../../../assets/images/fleche-white.svg" alt="white arrow" (click)="collapseRight()">
        </div>


      </div>

      <div [fxFlex]="rightPart" class="content fill">
        <application-launched *ngFor="let app of appsService.applications"
                              [appId]="app"></application-launched>
        <resource-opened *ngFor="let resource of resourcesService.resources"
                         [resourceId]="resource"></resource-opened>
      </div>

    </div>

  <!--</mat-card>-->
</div>
