<div>
<h3 mat-dialog-title>Edition de la question</h3>

<mat-dialog-content>

      <form [formGroup]="formGroup">
        <div>
          <h4 i18n="@@question">Question</h4>
          <mat-form-field>
          <input matInput placeholder="Question" [value]="element.name" (change)="inputChange($event, 'name')">
          </mat-form-field>
        </div>
        <div *ngIf="element.type === elType.Textarea">
          <h4 i18n="@@options">Options</h4>
          <ng-container i18n="@@optionsInstructions">Merci d'indiquer le nombre de mots minimums et maximums (laisser 0 pour ne pas mettre de limite)</ng-container>
          <input matInput placeholder="Nombre de mots minimum" i18n-placeholder="@@minWords" type="number" [ngModel]="element.minWords" (change)="inputChangeOption($event, 'minWords')">
        <br/>
          <input matInput placeholder="Nombre de mots maximum" i18n-placeholder="@@maxWords" type="number" [ngModel]="element.maxWords" (change)="inputChangeOption($event, 'maxWords')">
        </div>
        <div *ngIf="element.type === elType.Checkbox || element.type === elType.Radio">
          <h4 i18n="@@options">Options</h4>
          <table>
            <div dragula="MOVABLE">
            <div *ngFor="let option of element.options">
              <tr><mat-icon (click)="removeChoice(option)" class="emRight">delete</mat-icon>
                <mat-form-field>
                  <input matInput [placeholder]="option.name" [ngModel]="element.options[element.options.indexOf(option)]" (change)="inputChangeChoice($event, element.options.indexOf(option))">
                </mat-form-field>
                <mat-slide-toggle (change)="isAnswer(element.options.indexOf(option))" [checked]="option.isAnswer" i18n="@@goodAnswer">Bonne réponse</mat-slide-toggle></tr>

            </div>
            </div>
          </table>
          <button mat-flat-button (click)="addChoice()" class="addChoice"><mat-icon>add_circle</mat-icon><ng-container i18n="@@addOption">Ajouter une option</ng-container></button>
        </div>

        <div>
          <button mat-flat-button color="accent" [matDialogClose]="element" i18n="@@validate">Valider</button>
        </div>
      </form>

</mat-dialog-content>
</div>
