.avatar-circle {
  border-radius: 50% 50%;
  height: 50px;
  width: 50px;
}

.icon-huge {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.text-block {
  border-radius: 50% 50%;
  height: 50px;
  width: 50px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  background-color: lightgray;
}

.mat-subheader {
  padding: 0px;
  margin-left: 16px;
}
