<script src="../../../../main.ts"></script>

<form>
  <!--<mat-card-header>-->
  <h3 mat-subheader mat-line>Participants</h3>
  <!--</mat-card-header>-->

  <div fxLayout="row" class="div-participants">
    <div
      fxFlex="25%"
      class="participants_mignature"
      *ngFor="let participantId of activityService.userService.participants"
    >
      <app-participant-infos
        [participantId]="participantId"
      ></app-participant-infos>
    </div>

    <div fxFlex="25%">
      <mat-icon
        class="icon-huge"
        (click)="changeParticipants()"
        *ngIf="userService.fonction === 'Enseignant'"
        >add_circle
      </mat-icon>
    </div>
  </div>
</form>
