.avatar-circle {
  border-radius: 50% 50% 50% 50%;
  height: 50px;
  width: 50px;
}

.icon-huge {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.div-participants {
  flex-wrap: wrap;
}

.participants_mignature {
  width:25%;
  float:left;
}
