<script src="../../../../../../../main.ts"></script>

<form (ngSubmit)="loadApp()">
  <h3 i18n="@@existingApps">Applications disponibles</h3>

  <mat-radio-group
    class="example-radio-group"
    [(ngModel)]="appToLoad"
    name="activity._id"
  >
    <!--
      <div *ngFor="let application of activityService.apps.apps[activity._id]">
        <mat-radio-button class="example-radio-button" *ngIf="application.status === 'unloaded'"
                          [value]="application._id">
        {{application.name}}
        </mat-radio-button>
      </div>
    -->
  </mat-radio-group>

  <div>
    <button mat-button type="submit">Charger</button>
    <button mat-button mat-dialog-close="Close">Fermer</button>
  </div>
</form>
