<script src="../../../main.ts"></script>
<div layout="row">
  <div>
    <h2 mat-dialog-title>Confirmation</h2>
    <mat-dialog-content>{{ message }}</mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button [mat-dialog-close]="true" i18n="@@yes">Oui</button>
      <button mat-button [mat-dialog-close]="false" i18n="@@no">Non</button>
    </mat-dialog-actions>
  </div>
</div>
