@import '../../../../../../../../assets/styles/earth-app-theme';

.name-edition {
  padding: 10px;
}

.material-icons {
  cursor: pointer;
}

.aligned-with-text {
}

textarea {
  max-width: 90%;
}

.pulse-button {
  position: relative;
  box-shadow: 0 0 0 0 map-get($earth-app-accent, 200);
  cursor: pointer;
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
}

.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@keyframes pulse {
  to {
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

.mat-flat-button {
  background-color: map-get($earth-app-primary, 500);
  color: white;
}

.ck.ck-content.ck-editor__editable.ck-rounded-corners.ck-blurred.ck-editor__editable_inline {
  height: 80%;
}
