<script src="../../../../main.ts"></script>

<div class="name-edition" *ngIf="resource && !isNullOrUndefined(resource) && !isNullOrUndefined(resource.text) && existResource">
  <!--
    <textarea mdTextareaAutosize placeholder="Description de l'activité" type="text" name="description" id="description" [(ngModel)]="description" rows="10" cols="100"></textarea>
  -->
  <!--<ckeditor *ngIf="!isNullOrUndefined(resource) && !isNullOrUndefined(resource.text) && existResource"
    [editor]="Editor"
    [config]="editorOptions"
    [data]="resource.text"
    id="myTextEditor"
    (paste)="paste($evt)"
    (change)="onChange($event)"  #editor
  >
  </ckeditor>
  -->
  <angular-editor [placeholder]="'Enter text here...'" [(ngModel)]="resource.text" id="text-editor"></angular-editor>
  <div>
    Dernière sauvegarde il y à {{ latestSaveInMinute }} minutes : tout
    changement non sauvegardé sera perdu.
  </div>
  <button [class]="'mat-flat-button ' + class" mat-flat-button (click)="save()" i18n="@@save">
    Enregistrer
  </button>
</div>
