.flex-card {
  margin: auto;
  padding: 5%;
  width: 30%;
}

.flex-main-div {
  padding: 5%;
  text-align: center;
}

.hint-red {
  color: red;
}

.hint-demo {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  margin-top: 20px;
  margin-bottom: 30px;
}

mat-form-field {
  float: left;
  width: 100%;
}

.false-link {
  font-size: 9pt;
  color: #3f51b5;
  margin-top: 20px;
}
