<div id="div_{{appId}}" [ngClass]="application?.type">
  <!-- <mat-card class="flex-card" *ngIf="application?.status === 'loaded'"> -->
  <div class="name">
    <h3>{{ application?.name }}</h3>
  </div>
  <!--
  <div class="buttons">
    <button class="menu-right-align" mat-icon-button (click)="fullscreen()">
      <mat-icon>fullscreen</mat-icon>
    </button>
    <button class="menu-right-align" mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  -->
  <div class="apps">
    <app-chronometre
      *ngIf="application?.type === 'Chronomètre'"
      [appId]="application?.id"
    ></app-chronometre>
    <app-postit
      *ngIf="application?.type === 'kanban'"
      [appId]="application?.id"
    ></app-postit>
    <app-text-editor
      *ngIf="application?.type === 'Editeur de texte'"
      [appId]="application?.id"
    ></app-text-editor>
    <iframe
      *ngIf="application?.type === 'Externe'"
      class="iframe_application"
      id="iframe_{{application?.id}}"
      [src]="url"
      scrolling="no"
      (load)="resizeIframe(this)"
      style="width:100%; height:30vw;"
    ></iframe>
    <formulaire
      *ngIf="application?.type === 'Formulaire'"
      [appId]="application?.id"
    ></formulaire>
  </div>
  <!-- </mat-card> -->
</div>
