.menu-right-align {
  float: right;
  margin-top: 15px;
}

.flex-card {
  margin-left: 20px;
  margin-bottom: 20px;
}

.name{
  float:left;
}

.buttons{
  float:right;
}

.apps{
  padding-top: 55px;
}
