<script src="../../main.ts"></script>

<form [formGroup]="formNewApp" (ngSubmit)="newApp()">
  <h3>Nouvelle application</h3>

  <mat-form-field>
    <mat-select matInput placeholder="Type d'application" formControlName="appType" ngDefaultControl>
    <mat-option *ngFor="let appType of appsType" [value]="appType">
      {{ appType }}
    </mat-option>
  </mat-select>
  </mat-form-field>

  <mat-input-container>
    <input matInput placeholder="Nom de l'application" type="text" formControlName="appName">
  </mat-input-container>

  <div [hidden]="!(appType == 'Chronomètre')">
    <mat-input-container>
      <input matInput placeholder="Durée" type="time" formControlName="chronometreValue">
    </mat-input-container>
  </div>

  <div [hidden]="!(appType == 'Externe')">
    <mat-input-container>
      <input matInput placeholder="Nom du service" type="text" formControlName="serviceName">
    </mat-input-container>
    <mat-input-container>
      <input matInput placeholder="Lien vers l'application" type="text" formControlName="url">
    </mat-input-container>

  </div>

  <div>
    <button mat-button type="submit">Ajouter</button>
  </div>
</form>
