<script src="../../main.ts"></script>

<form [formGroup]="formTask">
  <h3 i18n="@@task">Column</h3>

  <mat-form-field>
    <input
      matInput
      placeholder="Column name"
      type="text"
      formControlName="taskName"
    />
  </mat-form-field>

  <div>
    <button mat-button (click)="update()" i18n="@@validate">Valider</button>
    <button mat-button (click)="close()" i18n="@@cancel">Annuler</button>
  </div>
</form>
