<script src="../../../../main.ts"></script>

<div
  class="stepper-left"
  dragula="STEPS"
  [dragulaModel]="steps"
  (dragulaModelChange)="steps = $event"
>
  <div *ngFor="let step of steps" class="float-left">
    <button  *ngIf="activityService.activityLoaded._id === step" color="accent" mat-flat-button>
      <activity-name [activityId]="step"></activity-name>
      <activity-hide
        *ngIf="user.fonction === 'Enseignant'"
        [activityId]="step"
        (click)="switchLock($event); switchVisibility(step)"
        matTooltip="Rendre l'étape visible/invisible aux élèves"
        i18n-malTooltip="@@activityVisibility"
      ></activity-hide>
    </button>
    <button  *ngIf="activityService.activityLoaded._id !== step" mat-button (click)="loadAnActivity(step)">
        <activity-name [activityId]="step"></activity-name>
        <activity-hide
          *ngIf="user.fonction === 'Enseignant'"
          [activityId]="step"
          (click)="switchLock($event); switchVisibility(step)"
          matTooltip="Rendre l'étape visible/invisible aux élèves"
          i18n-matTooltip="@@activityVisibility"
        ></activity-hide>
    </button>
  </div>
</div>

<button *ngIf="user.fonction === 'Enseignant'" mat-button class="float-left" (click)="addStep()">
  <mat-icon class="fl">add_circle</mat-icon>
  <div i18n="@@addStep">Ajouter une étape</div>
</button>
