.flex-card {
  padding: 1%;
  width: 20%;
  float: left;
}

.aligned-with-text {
  margin-top: 6px;
  float: right;
}

.chip {
  cursor: pointer !important;
}

.title {
  float: left;
  padding-right: 15px;
}

.flex-card-centered {
  padding: 1%;
  margin: auto;
  height: 277px;
}

.centered {
  margin: auto;
}

.activity-description {
  flex-wrap: wrap;
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.div-centered {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 60px;
}

.header-card-actions {
  margin-left: auto;
  margin-right: 0px;
  margin-top: -10px;
}

.activity-card {
  cursor: pointer;
  height: 210px;
}

.flex-main-div {
  padding: 1%;
  margin: 1%;
  flex-wrap: wrap;
  float: left;
  width: 100vw;
}

.main-title {
  padding: 1%;
  margin: 1%;
}

.aligned-with-h3 {
  margin-top: 15px;
}

.icon-huge {
  font-size: 45px;
  height: 45px;
  width: 45px;
}

.material-icons {
  cursor: pointer;
}
