<mat-card class="activity-card" (dblclick)="show_activity(activityId)">

  <div *ngIf="isNull(activityInfos) " class="div-centered activity-card">
    <mat-spinner style="margin:0 auto;"></mat-spinner>
    <p>Chargement de l'activité</p>
  </div>

  <div *ngIf="!isNull(activityInfos)">

  <h3 mat-line>{{activityInfos?.name}}
    <button class="menu-right-align" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </h3>

  <mat-menu #menu="matMenu">
    <button mat-menu-item *ngIf="user.fonction === 'Enseignant'" (click)="edit_activity(activityId)">
      <span>Editer</span>
    </button>
    <button mat-menu-item (click)="show_activity(activityId)">
      <span>Voir</span>
    </button>
    <button mat-menu-item *ngIf="user.fonction === 'Enseignant' && activityInfos?.master === true"
            (click)="duplicate_activity(activityId)">
      <span>Partager</span>
    </button>
    <button mat-menu-item *ngIf="user.fonction === 'Enseignant' && activityInfos?.master  === true"
            (click)="show_duplicates(activityId)">
      <span>Voir les groupes</span>
    </button>
  </mat-menu>

  <div [innerHTML]="activityInfos?.description" class="activity-description"></div>

        <mat-progress-bar
          class="example-margin"
          [value]="((activityInfos?.subactivityList.indexOf(activityInfos?.currentLoaded)/activityInfos?.subactivityList.length)*100)">
        >
        </mat-progress-bar>
  </div>
</mat-card>
