<div fxLayout="row" fxLayout.xs="column" class="flex-main-div">
  <div class="flex-card">
    <div id="logo"><img class="logo" src="../../assets/icons/toccata_logo.png" /></div>

    <mat-card>
      <h3 i18n="@@connexion">Connexion</h3>
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="Nom d'utilisateur"
              i18n-placeholder="@@username"
              type="text"
              autocomplete="username"
              formControlName="username"
              autocapitalize="off"
            />
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <input
              matInput
              placeholder="Mot de passe"
              i18n-placeholder="@@password"
              [type]="hide ? 'password' : 'text'"
              autocomplete="current-password"
              formControlName="password"
              autocapitalize="off"
            />
            <mat-icon matSuffix (click)="hide = !hide">{{
              hide ? "visibility" : "visibility_off"
            }}</mat-icon>
            <mat-hint
              class="hint-red"
              *ngIf="errorUsernamePassword"
              i18n="@@errorPswd"
              >Couple identifiant/mot de passe incorrect
            </mat-hint>
            <mat-hint
              class="hint-red"
              *ngIf="errorConnexionImpossible"
              i18n="@@errorNetwork"
              >Problème de connexion, merci de réessayer
            </mat-hint>
          </mat-form-field>
        </div>

        <div>
          <button
            mat-flat-button
            color="primary"
            type="submit"
            *ngIf="
              !loading ||
              errorUsernamePassword ||
              errorConnexionImpossible ||
              can_connect
            "
            i18n="@@connexion"
          >
            Connexion
          </button>
          <mat-progress-bar
            mode="determinate"
            [value]="ratio"
            *ngIf="
              loading && !errorUsernamePassword && !errorConnexionImpossible
            "
          ></mat-progress-bar>
        </div>

        <div *ngIf="!waitForConnection && env.envName === 'demo'" class="hint-demo">
          <ng-container i18n="@@hintDemo">
          Vous pouvez utiliser le couple identifiant/mot de passe demo/demo pour
            vous connecter au compte de démonstration.</ng-container>
        </div>
        <div *ngIf="!waitForConnection && env.envName === 'ubicomp'" class="hint-demo">
          <ng-container i18n="@@hintDemo">
            You can use teacher/teacher as username/password to connect to demontration account</ng-container>
        </div>
        <div *ngIf="waitForConnection" class="hint-demo">
          <ng-container i18n="@@connecting">Connexion en cours. (Cette étape peut prendre quelques instants la
            première fois)</ng-container>
        </div>
        <div class="false-link" (click)="goToInscription()">
          <ng-container i18n="@@createAccount"><u>Pas encore inscrit ?</u></ng-container>
        </div>
      </form>
    </mat-card>
  </div>
</div>
