<script src="../../../../main.ts"></script>

<!--<mat-card-header>-->
  <h3 mat-subheader i18n="@@resourcesApplications">
    Applications et ressources
  </h3>
<!--</mat-card-header>-->

<mat-card-content>
  <app-activity-apps-edit [edit]="true"></app-activity-apps-edit>
  <app-activity-resources> [edit]="edit"</app-activity-resources>
  <mat-list-item (click)="newElement()">
    <mat-icon class="float-left top-ten right-ten" mat-list-icon>add_circle</mat-icon>
    <p mat-line i18n="@@newApp">Nouvelle application/ressource</p>
  </mat-list-item>
</mat-card-content>
