.card-fit {
  display: inline-block !important;
}

.material-icons {
  cursor: pointer;
}

.float-left {
  float: left;
}

.top-ten {
  padding-top: 10px;
}

.right-ten {
  padding-right: 10px;
}

.mat-subheader {
  padding: 0px;
  margin-left: 16px;
}

.max10{
  max-height: 10%;
}

.max20{
  max-height: 20%;
}

.max30{
  max-height: 30%;
}

.max40{
  max-height: 40%;
}
