.material-icons{
  cursor: pointer;
}

.chip {
  cursor: pointer !important;
}

.activity-name {
  float: left;
  padding-right: 15px;
  padding-top: 5px;
}

.name-edition {
}

.aligned-with-text{
  font-size: 14px !important;
}
