
<div fxLayout="row" fxLayout.xs="column" class="flex-main-div">
  <div class="flex-card">
    <mat-card>

    <h3 i18n="@@connexion">Connexion</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()">

  <div>
    <mat-input-container>
      <input matInput placeholder="Nom d'utilisateur" type="text" formControlName="username">
    </mat-input-container>
  </div>

  <div>
    <mat-input-container>
      <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" formControlName="password">
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-hint class="hint-red" *ngIf="errorUsernamePassword" i18n="@@errorPswd">Couple identifiant/mot de passe incorrect</mat-hint>
      <mat-hint class="hint-red" *ngIf="errorConnexionImpossible" i18n="@@errorNetwork">Problème de connexion, merci de réessayer</mat-hint>
    </mat-input-container>
  </div>

  <div>
    <button mat-button type="submit" *ngIf="!loading || errorUsernamePassword || errorConnexionImpossible" i18n="@@connexion">Connexion
    </button>
    <mat-progress-bar mode="indeterminate"
                      *ngIf="loading && !errorUsernamePassword && !errorConnexionImpossible"></mat-progress-bar>
  </div>

  <div class="hint-demo">
    Vous pouvez utiliser le couple identifiant/mot de passe demo/demo pour vous connecter au compte de démonstration.
  </div>
</form>
    </mat-card>
</div>
</div>
