
<div fxLayout="row" fxLayout.xs="column" class="flex-main-div">

  <div class="flex-card">
    <div>
      <img class="logo" src="../../assets/icons/toccata_logo.png"/>
    </div>

    <mat-card>

    <h3 i18n="@@connexion">Connexion</h3>
<form [formGroup]="loginForm" (ngSubmit)="login()">

  <div>
    <mat-form-field>
      <input matInput placeholder="Nom d'utilisateur" type="text" autocomplete="username" formControlName="username" autocapitalize=off>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input matInput placeholder="Mot de passe" [type]="hide ? 'password' : 'text'" autocomplete="current-password" formControlName="password" autocapitalize=off>
      <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
      <mat-hint class="hint-red" *ngIf="errorUsernamePassword" i18n="@@errorPswd">Couple identifiant/mot de passe incorrect</mat-hint>
      <mat-hint class="hint-red" *ngIf="errorConnexionImpossible" i18n="@@errorNetwork">Problème de connexion, merci de réessayer</mat-hint>
    </mat-form-field>
  </div>

  <div>
    <button mat-button type="submit" *ngIf="!loading || errorUsernamePassword || errorConnexionImpossible || can_connect" i18n="@@connexion">Connexion
    </button>
    <mat-progress-bar mode="determinate" [value]="ratio"
                      *ngIf="loading && !errorUsernamePassword && !errorConnexionImpossible"></mat-progress-bar>
  </div>

  <div *ngIf="!waitForConnection" class="hint-demo">
    Vous pouvez utiliser le couple identifiant/mot de passe demo/demo pour vous connecter au compte de démonstration.
  </div>
  <div *ngIf="waitForConnection" class="hint-demo">
    Connection en cours.
    (Cette étape peut prendre quelques instants la première fois)
  </div>
  <div class="false-link" (click)="goToInscription()"><u>Pas encore inscrit ?</u></div>
</form>
    </mat-card>
</div>

</div>
