<div layout="row" >
<form [formGroup]="signinForm" (ngSubmit)="signup()">

  <div>
    <mat-input-container>
      <input mdInput placeholder="Nom d'utilisateur" type="text" formControlName="username">
    </mat-input-container>
  </div>

  <div>
    <mat-input-container>
      <input mdInput placeholder="Mot de passe" type="password" formControlName="password">
    </mat-input-container>
  </div>

  <div>
    <mat-input-container>
      <input mdInput placeholder="Lien vers l'avatar" type="text" formControlName="avatar">
    </mat-input-container>
  </div>

  <div>
    <mat-slide-toggle (change)="isTeacher()">Je suis un enseignant</mat-slide-toggle>
  </div>

  <div>
    <button mat-button type="submit">Inscription</button>
  </div>
</form>
</div>

