<script src="../../../main.ts"></script>
<div layout="row" >
<div style="height: 400px; overflow-y: auto" ngx-auto-scroll lock-y-offset="10" observe-attributes>
  <mat-nav-list>
    <mat-list-item *ngFor="let message of messages">
      <img mat-list-avatar src="{{message.author.avatar}}" alt="">
      <h3 mat-line> {{message.author.name}} </h3>
      <p mat-line>{{message.text}}</p>
      <div>
        <mat-icon *ngIf="message.editable" (click)="deleteMessage(message)">clear</mat-icon>
      </div>
    </mat-list-item>
  </mat-nav-list>
</div>
</div>
<div layout="row" >
<app-chat-send [loadedChat]=chatId></app-chat-send>
</div>
